* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: "Myriad Pro",Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; background: #292A30; }

a img, fieldset { border: none; }

.contenttop { height: 222px; background: #3E4046; padding: 8px 15px 0 15px; border-bottom: 3px solid #54565D; }

.content { padding: 15px; }

.icon-ready { background: url('../img/icons-s317e0f2803.png') 0 -388px no-repeat; width: 16px; height: 12px; }

.icon-processing { background: url('../img/icons-s317e0f2803.png') 0 -228px no-repeat; width: 15px; height: 15px; }

.icon-uploading { background: url('../img/icons-s317e0f2803.png') 0 -488px no-repeat; width: 9px; height: 13px; }

.icon-processingbig { background: url('../img/icons-s317e0f2803.png') 0 -189px no-repeat; width: 29px; height: 29px; }

.icon-uploadingbig { background: url('../img/icons-s317e0f2803.png') 0 -342px no-repeat; width: 25px; height: 36px; }

.videos { font-size: 0; }
.videos .videos__header { margin-bottom: 11px; }
.videos .videos__header h2 { font-size: 32px; font-family: 'Roboto', sans-serif; font-weight: 100; color: #f0f1f3; display: inline-block; margin-right: 12px; }
.videos .videos__header nav { display: inline-block; font-size: 16px; color: #777c89; font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 0; }
.videos .videos__header nav a { color: #777c89; text-decoration: none; padding-right: 15px; margin-right: 9px; font-size: 16px; position: relative; }
.videos .videos__header nav a:before { content: ' '; position: absolute; right: 0; bottom: 2px; border-right: 1px solid #4F525A; height: 15px; }
.videos .videos__header nav i { display: inline-block; margin-right: 8px; }
.videos .videos__header .videos__uploaded i { background: url('../img/icons-s317e0f2803.png') 0 -488px no-repeat; width: 9px; height: 13px; }
.videos .videos__header .videos__ready:before { display: none; }
.videos .videos__header .videos__ready i { background: url('../img/icons-s317e0f2803.png') 0 -388px no-repeat; width: 16px; height: 12px; }
.videos .videos__header .videos__processing i { background: url('../img/icons-s317e0f2803.png') 0 -228px no-repeat; width: 15px; height: 15px; position: relative; top: 1px; }
.videos .videos__scroll { overflow: hidden; height: 185px; padding-top: 8px; overflow-y: hidden; overflow-x: auto; white-space: nowrap; }
.videos .videos__scroll .video { margin-bottom: 100px; }

.video { display: inline-block; vertical-align: top; margin-right: 15px; font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: 400; cursor: pointer; margin-bottom: 15px; }
.video .video__pic { position: relative; z-index: 2; }
.video .video__pic img { display: block; }
.video .video__status { height: 3px; background: #777C88; position: relative; z-index: 2; }
.video .video__status i { display: block; height: 3px; background: #F0F1F3; }
.video .video__title { font-size: 16px; color: #a7a8ad; font-weight: 400; padding-top: 2px; position: relative; z-index: 2; }
.video .video__textstatus { color: #777c89; font-size: 13px; text-transform: uppercase; position: relative; z-index: 2; font-weight: 600; }
.video .video__textstatus i { display: inline-block; margin-right: 3px; }
.video.is-uploading .video__textstatus i { background: url('../img/icons-s317e0f2803.png') 0 -488px no-repeat; width: 9px; height: 13px; }
.video.is-ready .video__status { background: #007691; }
.video.is-ready .video__status i { display: none; }
.video.is-ready .video__textstatus i { background: url('../img/icons-s317e0f2803.png') 0 -388px no-repeat; width: 16px; height: 12px; }
.video.is-processing .video__status { background: #007691; }
.video.is-processing .video__status i { width: 100% !important; background: #F0F1F3; }
.video.is-processing .video__textstatus i { background: url('../img/icons-s317e0f2803.png') 0 -228px no-repeat; width: 15px; height: 15px; position: relative; top: 3px; }
.video.is-active { position: relative; }
.video.is-active:before { z-index: 1; position: absolute; left: -4px; top: -5px; content: ' '; background: url('../img/icons-s317e0f2803.png') 0 0 no-repeat; width: 188px; height: 179px; }
.video.is-active .video__pic { box-shadow: 0 0 4px rgba(0, 0, 0, 0.6); }
.video.is-active .video__title { color: #fff; }
.video.is-active .video__textstatus { color: #3e4047; }
.video.is-active.is-ready .video__textstatus i { background: url('../img/icons-s317e0f2803.png') 0 -410px no-repeat; width: 16px; height: 12px; }
.video.is-active.is-processing .video__textstatus i { background: url('../img/icons-s317e0f2803.png') 0 -253px no-repeat; width: 15px; height: 15px; }
.video.is-active.is-uploading .video__textstatus i { background: url('../img/icons-s317e0f2803.png') 0 -511px no-repeat; width: 9px; height: 13px; }
.video .video__remove { position: absolute; background: url('../img/icons-s317e0f2803.png') 0 -432px no-repeat; width: 12px; height: 12px; right: 0; top: 4px; cursor: pointer; }
.video.is-button { width: 179px; }
.video.is-button .video__textstatus { text-transform: none; font-size: 13px; color: #777c89; white-space: normal; padding-top: 3px; }
.video.is-button .video__pic { width: 179px; height: 110px; background: #4D4F54; line-height: 110px; text-transform: none; color: #fff; font-family: 'Roboto', sans-serif; font-weight: 600; text-align: center; }
.video.is-button .video__pic i { background: url('../img/icons-s317e0f2803.png') 0 -454px no-repeat; width: 24px; height: 24px; vertical-align: middle; display: inline-block; margin-right: 13px; }

.bvideo { margin: 30px 0 70px 0; position: relative; display: inline-block; width: 100%; }
.bvideo .bvideo__pic { float: left; margin-right: 15px; }
.bvideo .bvideo__status { height: 3px; background: #777C88; position: relative; z-index: 2; }
.bvideo .bvideo__status i { display: block; height: 3px; background: #F0F1F3; }
.bvideo.is-ready .bvideo__status { background: #007691; }
.bvideo.is-ready .bvideo__status i { display: none; }
.bvideo.is-processing .bvideo__status { background: #007691; }
.bvideo.is-processing .bvideo__status i { width: 100% !important; background: #F0F1F3; }
.bvideo.is-ready .bvideo__pic img { display: block; }
.bvideo .bvideo__remove { position: absolute; font-size: 13px; bottom: -2em; left: 0; font-size: 16px; color: #777c89; font-family: 'Roboto', sans-serif; font-weight: 700; cursor: pointer; }
.bvideo .bvideo__remove i { background: url('../img/icons-s317e0f2803.png') 0 -311px no-repeat; width: 21px; height: 21px; display: inline-block; margin-right: 6px; vertical-align: middle; }
.bvideo .bvideo__remove:hover { color: #fff; }
.bvideo .bvideo__title { font-size: 40px; font-family: 'Roboto', sans-serif; font-weight: 100; color: #fff; }
.bvideo .bvideo__content { position: absolute; bottom: 0; right: 0; left: 569px; color: #777c89; }
.bvideo .bvideo__content h3 { font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 32px; margin-bottom: 3px; }
.bvideo .bvideo__content p { font-size: 13px; line-height: 1.4; }

.error { background: #3E4046; border-left: 3px solid #FF8870; padding: 10px; font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 13px; color: #a7a8ad; margin: 5px 0; width: 60%; }
.error strong { display: block; font-family: 'Roboto', sans-serif; font-weight: 600; }

.status { font-size: 13px; text-transform: uppercase; color: #fff; font-family: 'Roboto', sans-serif; font-weight: 600; cursor: pointer; max-width: 300px; }
.status i { vertical-align: middle; margin-right: 4px; display: inline-block; }
.is-processing .status, .is-uploading .status { color: #777c89; }
.is-processing .status i, .is-uploading .status i { margin-bottom: 7px; }
.is-uploading .status i { margin-bottom: 0; vertical-align: middle; position: relative; top: 6px; margin-left: 7px; margin-right: 11px; }
.status strong { font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 64px; vertical-align: middle; }
